<html>
	<h1>
		{{ .title }}
	</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio vitae qui dolore optio voluptatem asperiores modi numquam sint eligendi. Quo sunt iusto reiciendis quasi incidunt quaerat adipisci illo facere quas.</p>
</html>